html {
    background-color: #DAF5FF;
}

h1 {
    color: navy;
    height: 100px;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: navy;
}

.introduction {
    height: 500px;
    width: 400px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px;
}


.selfie {
    display: flex;
    border-radius: 20%;
    justify-content: center;
}